<launch><node pkg="monitor" exec="distance_monitor" name="distance_monitor" output="screen" /><node pkg="monitor" exec="arm_monitor" name="arm_monitor" output="screen" /><node pkg="monitor" exec="camera_monitor" name="camera_monitor" output="screen" /><node pkg="monitor" exec="motor_monitor" name="motor_monitor" output="screen" /><node pkg="monitor" exec="tip_out_monitor" name="tip_out_monitor" output="screen" /><node pkg="monitor" exec="carbon_monoxide_monitor" name="carbon_monoxide_monitor" output="screen" /><node pkg="monitor" exec="temperature_monitor" name="temperature_monitor" output="screen" /></launch>